{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
    
    <div class="post">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
  </div>
{{ end }}

{{ define "footer" }}
{{ partial "footer/font-awesome-js.html" . }}
{{ end }}
