{{ $include_toc := .Params.include_toc}}
<div class="is-position-fixed" id="tableOfContentContainer">
{{ $tableOfContents := .TableOfContents }}
{{ with .Site.Params.toc }}
{{ if ne $include_toc false }}
    <div class="toc-wrapper">
    <input type="checkbox" id="tocToggle">
    <label for="tocToggle">Table of Content</label>
    {{ if eq . "hugo" }}
        {{ $tableOfContents }}
    {{ else if eq . "tocbot"}}
        <div class="toc" id="TableOfContents"></div>
    {{ end }}
    </div>
{{ end }}
{{ end }}
</div>